.redstar{
    color: #e64b5f;
}
.button-how-complain-back {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 33px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: #004A87;
    width: 100%;
    transition: 1s;}



/*------------------------------------------------------------------
  [Parsley]
*/
.parsley-errors-list.filled {
  margin-top: 10px;
  margin-bottom: 0;
  padding: 10px 20px;
  position: relative;
  background-color: #eb6357;
  color: #ffffff;
}
.parsley-errors-list.filled:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: -6px;
  left: 20px;
  content: '';
  display: block;
  width: 0;
  height: 0;
  -moz-transform: scale(0.9999);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #eb6357;
}
.parsley-errors-list.filled > li {
  list-style: none;
}


/*------------------------------------------------------------------
  [Switch button] */

.switch-button {
  display: inline-block;
  border-radius: 50px;
  background-color: #b3b2b2;
  width: 60px;
  height: 27px;
  padding: 4px;
  position: relative;
  overflow: hidden;
  vertical-align: middle; }
  .switch-button input[type="checkbox"] {
    display: none; }
  .switch-button label {
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #FFF inset;
    background-color: #FFFFFF;
    margin: 0;
    height: 19px;
    width: 19px;
    z-index: 1;
    display: inline-block;
    cursor: pointer;
    background-clip: padding-box; }
    .switch-button label:before {
      position: absolute;
      font-size: .8462rem;
      font-weight: 600;
      z-index: 0;
      content: "OFF";
      right: 0;
      display: block;
      width: 100%;
      height: 100%;
      line-height: 27px;
      top: 0;
      text-align: right;
      padding-right: 10px;
      color: #FFFFFF; }
  .switch-button input[type="checkbox"]:checked + span {
    background-color: #4285f4;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 4px; }
    .switch-button input[type="checkbox"]:checked + span label {
      float: right;
      border-color: #2a75f3;
      }
      .switch-button input[type="checkbox"]:checked + span label:before {
        position: absolute;
        font-size: .8462rem;
        font-weight: 600;
        z-index: 0;
        content: "ON";
        color: #FFFFFF;
        left: 0;
        text-align: left;
        padding-left: 10px; }
  .switch-button.switch-button-yesno label:before {
    content: "NO"; }
  .switch-button.switch-button-yesno input[type="checkbox"]:checked + span label:before {
    content: "YES"; }
  .switch-button.switch-button-xs {
    height: 20px;
    width: 53px;
    line-height: 16px;
    width: 50px; }
    .switch-button.switch-button-xs label {
      height: 12px;
      width: 12px; }
      .switch-button.switch-button-xs label:before {
        line-height: 21px; }
  .switch-button.switch-button-sm {
    height: 24px;
    width: 57px;
    line-height: 20px; }
    .switch-button.switch-button-sm label {
      height: 16px;
      width: 16px; }
      .switch-button.switch-button-sm label:before {
        line-height: 25px; }
  .switch-button.switch-button-lg {
    height: 30px;
    width: 63px;
    line-height: 26px;
    width: 65px; }
    .switch-button.switch-button-lg label {
      height: 22px;
      width: 22px; }
      .switch-button.switch-button-lg label:before {
        line-height: 31px; }
  .switch-button.switch-button-success {
    background-color: #b3b2b2; }
    .switch-button.switch-button-success label {
      border-color: #ababab; }
    .switch-button.switch-button-success input[type="checkbox"]:checked + span {
      background-color: #34a853; }
      .switch-button.switch-button-success input[type="checkbox"]:checked + span label {
        border-color: #2e9549;
        }
  .switch-button.switch-button-warning {
    background-color: #b3b2b2; }
    .switch-button.switch-button-warning label {
      border-color: #ababab; }
    .switch-button.switch-button-warning input[type="checkbox"]:checked + span {
      background-color: #fbbc05; }
      .switch-button.switch-button-warning input[type="checkbox"]:checked + span label {
        border-color: #e3aa04; }
  .switch-button.switch-button-danger {
    background-color: #b3b2b2; }
    .switch-button.switch-button-danger label {
      border-color: #ababab; }
    .switch-button.switch-button-danger input[type="checkbox"]:checked + span {
      background-color: #ea4335; }
      .switch-button.switch-button-danger input[type="checkbox"]:checked + span label {
        border-color: #e82e1e; }


/*------------------------------------------------------------------
  [Perfect Scrollbar]
*/
/*Perfect Scrollbar*/
.ps-container > .ps-scrollbar-y-rail {
  width: 6px;
  background-color: rgba(0, 0, 0, 0.1);
}
.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  right: 0;
  height: 6px;
  width: 6px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.25);
}
.ps-container > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y,
.ps-container > .ps-scrollbar-y-rail:active > .ps-scrollbar-y {
  width: 6px;
}

/*--Submit btn */
.login-submit {
  padding-top: 19px;
  margin-bottom: 18px;
}
.login-submit .btn {
  width: 100%;
}
.login-submit > div:first-child {
  padding-right: 10px;
}
.login-submit > div:last-child {
  padding-left: 10px;
}
/* form view field*/
.fild-view {
  width: 100%;
  height: 48px;
  padding: 10px 12px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  background-image: none;
}
/*----- Btn class */

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 10px 12px;
  font-size: 13px;
  line-height: 1.42857143;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn-primary {
  border-color: #2a75f3;
  color: #fff;
  background-color: #aad145;
  border-color: #004A87;
}
.btn-xl {
  padding: 0 12px;
  font-size: 15px;
  line-height: 43px;
  border-radius: 3px;
  font-weight: 500;
}

/*------------------------------------------------------------------
  [Scroll to top button]
*/
.be-scroll-top {
  cursor: pointer;
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0 14px;
  display: none;
  -webkit-transition: background-color 0.2s ease;
  -o-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
  border-radius: 4px;
}
.be-scroll-top:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.be-scroll-top:hover,
.be-scroll-top:focus {
  color: #ffffff;
}
.be-scroll-top:before {
  content: '\f2fc';
  font-family: 'Material Icons';
  font-size: 33px;
  display: inline-block;
  vertical-align: middle;
}



